client-soap/src/main/java/proxy/.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="BanqueServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8989/?xsd=1"/>
</xsd:schema>
</types>
<message name="convertToDH">
<part name="parameters" element="tns:convertToDH"/>
</message>
<message name="convertToDHResponse">
<part name="parameters" element="tns:convertToDHResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="getComptes">
<part name="parameters" element="tns:getComptes"/>
</message>
<message name="getComptesResponse">
<part name="parameters" element="tns:getComptesResponse"/>
</message>
<message name="getCompte">
<part name="parameters" element="tns:getCompte"/>
</message>
<message name="getCompteResponse">
<part name="parameters" element="tns:getCompteResponse"/>
</message>
<portType name="BanqueWS">
<operation name="convertToDH">
<input wsam:Action="http://ws/BanqueWS/convertToDHRequest" message="tns:convertToDH"/>
<output wsam:Action="http://ws/BanqueWS/convertToDHResponse" message="tns:convertToDHResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws/BanqueWS/convertToDH/Fault/Exception"/>
</operation>
<operation name="getComptes">
<input wsam:Action="http://ws/BanqueWS/getComptesRequest" message="tns:getComptes"/>
<output wsam:Action="http://ws/BanqueWS/getComptesResponse" message="tns:getComptesResponse"/>
</operation>
<operation name="getCompte">
<input wsam:Action="http://ws/BanqueWS/getCompteRequest" message="tns:getCompte"/>
<output wsam:Action="http://ws/BanqueWS/getCompteResponse" message="tns:getCompteResponse"/>
</operation>
</portType>
<binding name="BanqueWSPortBinding" type="tns:BanqueWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="convertToDH">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getComptes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCompte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BanqueServiceService">
<port name="BanqueWSPort" binding="tns:BanqueWSPortBinding">
<soap:address location="http://localhost:8989/"/>
</port>
</service>
</definitions>